html,
body {
  width: 100%;
  background-color: rgb(48, 46, 46);
color: white;

}
#select-input-container span {
  color: white;
  font-size: medium;
  margin-left: 2%;
}
#source {
  text-decoration: none;
  color: rgb(8, 9, 9);
  background-color: #242020;
}
.episode-title > a {
  text-decoration: none;
  color: white;
}
.episode-title > a:hover {
  color: white;
}
#root>div>div {
    width: 70%;
    height: 90%;
    border-radius: 10px;
    margin-top: 30px;
    font-size: larger;
    color: orange;
}
.episode-summary{
   display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
 

@media only screen and (max-width: 400px) {
#root {
        color: rgb(16, 17, 16);
        background-color: rgb(48, 46, 46);
        display: grid;
        grid-template-columns: repeat(1, 380px);
        gap: 10px;
        grid-auto-rows: max-content;
        width: 100%;
        
        
    }
  h1 {
    font-family: Helvetica;
    font-size: 20px;
    text-align: left;
    color: white;
  }
  
  .episode-image {
    height: 30%;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .episode-summary {
    width: 90%;
    color: white;
    
  }

  #select-input-container {
    display: flex;
    justify-content: flex-start;
  }
  #search-field {
    height: 20px;
    width: 120px;
    font-size: 1rem;
  }

  #selectMenu {
    background-color: white;
    font-size: 1rem;
    width: 120px;
    height: 20px;
    margin-right: 10px;
    border-radius: 30px;
  }
  /*select show*/
  #selectShow {
    background-color: white;
    font-size: 1rem;
    width: 120px;
    height: 20px;
    margin-right: 10px;
  }
  #root > div > div {
    width: 90%;
    height: 30%;
  }
}
/* media query for over 400px */
@media only screen and (min-width: 400px) {
  #root {
    color: rgb(22, 24, 22);
    background-color: rgb(48, 46, 46);
    display: grid;
    grid-template-columns: repeat(1, 380px);
    gap: 10px;
    grid-auto-rows: max-content;
    width: 100%;
  }
  h1 {
    font-family: Helvetica;
    font-size: 20px;
    text-align: left;
    color: white;
  }
  #root > div {
    width: 70%;
    height: 90%;
    background-color: black;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 10px;
  }
  .episode-title {
    text-align: center;
    margin-top: 10px;
    height: 30px;
    /* background-color: rgb(119, 95, 99); */
    /* border: 1px solid rgb(29, 28, 28);
    border-radius: 10px; */
    padding-top: 15px;
    width: 90%;
  }
  .episode-image {
    height: 30%;
    width: 50%;
    margin-left: 60px;
    margin-right: 30px;
  }
  .episode-summary {
    width: 90%;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  #select-input-container {
    display: flex;
    justify-content: flex-start;
  }
  #root > div > div {
    width: 90%;
    height: 30%;
  }
  #search-field {
    height: 25px;
    width: 15%;
    background-color: white;
    font-size: 1rem;
    margin-left: 3%;
  }

  #selectMenu {
    background-color: white;
    font-size: 1rem;
    width: 20%;
    height: 25px;
  }
  /*select show*/
  #selectShow {
    background-color: white;
    font-size: 1rem;
    width: 20%;
    height: 25px;
    margin-right: 3%;
  }
  #select-input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-right: 2%;
    margin-left: 2%;
  }
}
/* for devices 768 and over  */
@media only screen and (min-width: 768px) {
  #root {
    grid-template-columns: repeat(auto-fill, 360px);
    margin-right: 20px;
    margin-right: 10px;
  }
  h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: Helvetica;
  }
  .episode-title {
    height: 40px;
  }
  .episode-image {
    height: 40%;
  }
  #root > div > div {
    width: 90%;
    height: 30%;
  }
  .episode-summary {
    line-height: 25px;
  }
}


